body {
    background-color: #c9f4fb;
    /* Change this to your desired color */
    color: #393e3d;
    /* Example: changes text to red */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    /* Fixes the header to the viewport */
    top: 0;
    /* Aligns it to the very top of the screen */
    width: 100%;
    /* Ensures it spans the full width of the screen */
    background-color: #66c7ea;
    /* background color */
    color: rgb(230, 217, 241);
    /* text color */
    padding: 20px 0;
    /* padding */
    z-index: 1000;
    /* Ensures the header is above other content */
    font-family: 'Times New Roman', Times, serif;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    color: rgb(69, 69, 71);
}

h2 {
    font-size: 48px;
    /* Sets the size of the font */
    font-weight: bold;
    /* Sets how thick or thin characters in the font rendered */
    color: #333333;
    /* Sets the color of the text (dark gray in this example) */
}


section {
    margin: 20px;
    /* space between sections */
    padding: 20px;
    /* padding around each section */

}

#About {
    text-align: center;
    /*Make title centered */
    background-color: rgb(186, 237, 175);
    box-shadow: 0 2px 5px rgba(rgb(237, 208, 208), green, blue, alpha);
}

#About img {
    width: 100px;
}

.experience{
    background-color: rgb(163, 242, 204);
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* Stack the header and description vertically */
    margin-bottom: 20px;
    border-bottom: 1px solid #020101;
}

.experience-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items to the baseline */

}

/*Description will sit below because of flex-direction: column above */
.experience description {
    margin-top: 5px;
}

#Connect {
    background-color: rgb(85, 208, 226);
    font-size: large;
}

#Connect a {
    color: rgb(41, 7, 196);
}

#Connect ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0;
    list-style: none;
}

#Connect a:hover {
    color: purple;
    text-decoration: underline;
}