body {
    background-color: #c9f4fb;
    /* Change this to your desired color */
    color: #393e3d;
    /* Example: changes text to red */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    color: rgb(69, 69, 71);
}

h2{
  font-size: 48px; /* Sets the size of the font */
  font-weight: bold; /* Sets how thick or thin characters in the font rendered */
  color: #333333; /* Sets the color of the text (dark gray in this example) */
}


section {
    margin: 20px;
    /* space between sections */
    padding: 20px;
    /* padding around each section */

}

#About {
    text-align: center;
    /*Make title centered */
    background-color: rgb(93, 203, 234);
    box-shadow: 0 2px 5px rgba(rgb(237, 208, 208), green, blue, alpha);
}

#About img {
    width: 100px;
}
#Experience {
    background-color: white;
}

#Experience ul {
    list-style: none;
    padding: 0;
    background-color: aliceblue;
}

#Experience li {
    background-color: rgb(65, 193, 222);
    margin-bottom: 4px;
}

#Connect {
    background-color: rgb(85, 208, 226);
}

#connect a {
    color: rgb(26, 220, 220);
}

#Connect a:hover {
    color: purple;
    text-decoration: underline;
}